.emacs.d/tramp
.emacs.d/transient/
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/eproject.lst
.emacs.d/org-clock-save.el
.emacs.d/elpa/
.emacs.d/elpa/archives
.emacs.d/emms/
.emacs.d/.mc-lists.el
.emacs.d/bbdb
.emacs.d/url/cache
.emacs.d/server/server
.emacs.d/sql/*.sql
.emacs.d/*/*.elc
.emacs.d/*/*/*.elc
.emacs.d/*/*/*/*.elc
.emacs.d/ido.last
.emacs.d/network-security.data
.emacs.d/.org-id-locations
.emacs.d/smex-items
.emacs.d/.python-environments/
.emacs.d/bookmarks
.emacs.d/cache/
.eshell/history
.eshell/lastdir
.emacs.d/recentf
.emacs.d/.lsp-session-v1
.emacs.d/eln-cache/
