.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/extensions/emacs-for-python/python-libs/*/*.pyc
.emacs.d/extensions/emacs-for-python/python-libs/*/*/*.pyc
.emacs.d/extensions/emacs-for-python/python-libs/*/*/*/*.pyc
.emacs.d/eproject.lst
.emacs.d/org-clock-save.el
.emacs.d/extensions/nxhtml/etc/schema/xhtml-loader.rnc
.emacs.d/elpa/archive-contents
.emacs.d/elpa/builtin-packages
.emacs.d/extensions/nxhtml/etc/schema/xhtml-loader.rnc
.emacs.d/.mc-lists.el
.emacs.d/bbdb
.emacs.d/url/cache
.emacs.d/elpa/archives
.emacs.d/server/server

